md-toolbar
  .md-toolbar-tools
    h2 memorycontenst.city
    span(flex)
    md-button.md-icon-button(ng-link="['Memory']")
      md-icon play_circle_outline
    md-button.md-icon-button(ng-link="['Info']")
      md-icon info_outline

md-content
  div(layout="row" layout-align="center" flex)
    div(layout="column" flex-xl="70" flex-lg="75" flex-md="80" flex)

      div(layout="column" layout-align="center" flex="none" layout-padding)
        p Once you have a match, click on the pictures for more info!
        p(hide-gt-xs) For a better user experience, use a bigger screen if possible.

      div(layout="row" layout-wrap layout-align="center" flex)
        memory-card-cmp(
          flex-xs="33"
          flex-gt-xs="15"
          ng-repeat="card in $ctrl.memoryCardsRandom"
          card-id="{{card.id}}"
          image="{{card.image}}"
          state="{{card.state}}"
          ng-click="$ctrl.turnCard(card)"
        )

      div(ng-show="$ctrl.fsm.current==='win'" layout="row" layout-align="end")
        md-button.md-fab(ng-click="$ctrl.resetGame()")
          md-icon replay

  footer(layout="row" layout-align="space-around" layout-padding layout-wrap)
    div(flex-xl="10" flex-lg="15" flex-xs="50" flex-md="20" flex-sm="20")
      a(href="http://www.waterpower.science" target="_blank")
        img(src="/img/WaterPower_Logo.png")
    div(flex-xl="10" flex-lg="15" flex-xs="50" flex-md="20" flex-sm="20")
      img(src="/img/DLR_2015_trans.png")
    div(flex-xl="5" flex-lg="10" flex-xs="50" flex-md="20" flex-sm="20")
      img(src="/img/BMBF_2015_trans.png")
    div(flex-xl="5" flex-lg="10" flex-xs="50" flex-md="20" flex-sm="20")
      img(src="/img/claim_fona_en.jpg")
    div(flex-xl="10" flex-lg="15" flex-xs="50" flex-md="20" flex-sm="20")
      a(href="http://www.superservice-international.com" target="_blank")
        img(src="/img/superservice.png")
