md-toolbar
  .md-toolbar-tools
    span(flex)
    md-button.md-icon-button
      md-icon menu

div(layout="row" layout-wrap)
  memory-card-cmp(
    flex="25"
    ng-repeat="card in $ctrl.memoryCardsRandom"
    card-id="{{card.id}}"
    background="{{card.background}}"
    state="{{card.state}}"
    ng-click="$ctrl.turnCard(card)"
  )
