md-toolbar
  .md-toolbar-tools
    h2 waterpower
    span(flex)
    md-button.md-icon-button(ng-link="['Memory']")
      md-icon play_circle_outline
    md-button.md-icon-button(ng-link="['Info']")
      md-icon info_outline

div(layout="row" layout-align="center" flex)
  div(layout="column" flex-xl="50" flex-lg="75")

    div
      h1 memorycity

    div(layout="row" layout-wrap)
      memory-card-cmp(
        flex="25"
        ng-repeat="card in $ctrl.memoryCardsRandom"
        card-id="{{card.id}}"
        image="{{card.image}}"
        state="{{card.state}}"
        ng-click="$ctrl.turnCard(card)"
      )

    div(ng-show="$ctrl.fsm.current==='win'" layout="column" layout-align="center center")
      p looks like we have a winner!

      md-button.md-fab(ng-click="$ctrl.resetGame()")
        md-icon replay
