md-toolbar
  .md-toolbar-tools
    h2 memorycontenst.city
    span(flex)
    md-button.md-icon-button(ng-link="['Memory']")
      md-icon play_circle_outline
    md-button.md-icon-button(ng-link="['Info']")
      md-icon info_outline

div(layout="row" layout-align="center" flex)
  div(layout="column" flex-xl="70" flex-lg="75" flex-md="80")

    div(layout="row" layout-align="center")
      p Once you have a match, click on the pictures for more info!

    md-content
      div(layout="row" layout-wrap layout-align="center")
        memory-card-cmp(
          flex="15"
          ng-repeat="card in $ctrl.memoryCardsRandom"
          card-id="{{card.id}}"
          image="{{card.image}}"
          state="{{card.state}}"
          ng-click="$ctrl.turnCard(card)"
        )

    div(ng-show="$ctrl.fsm.current==='win'" layout="row" layout-align="end")
      md-button.md-fab(ng-click="$ctrl.resetGame()")
        md-icon replay

//.md-accent(layout-padding)
  //p copyright waterpower + superservice-international.com
